* {
  color: #000080;
  background-color: #ffffff;

}
a:link {
  color: #800080;
}
a:visited {
  color: #ff0000;
}
td{
  display: inline-table;
  width: 45%;
  margin-left: 2%;
  height: 20%;
}
li span{
  display: table-row-group;
  font-size: .5em;
}
address {
  text-align: center;
  font-size: 1em;

}
address span{
  font-size: .9em;
}
.bigLetter {
  font-size: 200%;
}
.logo{
  display: block;
  margin-left: 45%;
  margin-right: 45%;
}
.footer {
  margin-top: 2%;
  margin-bottom: 2%;
}
footer a{
  font-size: 1.5em;
  display: block;
}
footer span{
  font-weight: bold;
}
.header{
  font-weight: bold;
}